{
    "comments": true,
    "presets": [
        "@babel/preset-env",
        "@babel/typescript",
    ],
    "env": {
        "development": {
            "plugins": [
                "istanbul"
            ]
        }
    },
    "targets": {
        "node": 14,
        "browsers": [
            "> 2%",
            "ie 11",
            "not op_mini all"
        ]
    }
}